body{
  background-color: purple;
}
h1{
  color:green;
}

.titulo2{
  color:red;
  font-size: 60px;
  font-family: cursive;
}

.cuadrado{
  width:450px;
  height:450px;

  background: rgba( 255, 84, 84, 0.40 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 15.0px );
  -webkit-backdrop-filter: blur( 15.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}